.chart-page .chart-container{
  border: none;
}
.loading-indicator{
  background-color: #FFF;
}
.tv-main-panel{
  background-color: #FFF;
}
.charts-popup-list{
  background-color: #FFF;
  &.intervals-list{
    .item{
      min-width: 62px;
      padding: 5px 10px;
      text-align: center;
      &.active,&:hover,&:focus{
        background-color: #E1E1E1;
      }
    }
  }
  &.chart-style-popup{
    width: auto;
    top:29px!important;
    left: 88px!important;
    .item{
      text-align: center;
      &.active,&:hover,&:focus{
        background-color: #E1E1E1;
      }
    }
  }
}
#library-container{
  border: none;
  height: 34px;
  background-color: #fff;
  .header-chart-panel{
    background-color: #fff;
    padding: 0;
    .group{
      width: 100%;
      margin: 0;
      .apply-common-tooltip{
        display: none;
        line-height: 34px;
        font-size: 14px;
        color:#6c6c6c;
        font-weight: normal;
        padding-left:15px;

      }
    }
    .button.active:hover{
      border-color: #9dabb4!important;
    }
  }
}
.favored-list-container {
  span{
    border: none!important;
    cursor: pointer;
    color:#ABABAB;
    background: none;
    &:before{
      display: none;
    }
    &:active{
      background:none!important;
    }
    &.selected,{
      //border-top:1px solid #17A8F7 !important;
      background: none!important;
      color:#17A8F7;
    }
    &.disabled{
      color:#ABABAB;
      background: none!important;
    }
    &.submenu{
      &.active{
        border-color: #9dabb4!important;
      }
      i{
        border: none!important;
        display: none;
      }
    }
  }
  .quick{
    float: left;
    span{
      &:first-child{
        border-width:0;
      }
      &:last-child{
       display: none;
      }
      display: inline-block;
      text-align: center;
      padding: 5px 0;
      margin:10px 20px;
      color:#9dabb4;
      &.selected,&:hover,&:focus{
        color:#3562FF;
        border-bottom: 2px solid #3562FF!important;
        background: none;
      }
    }
  }
}
.tv-side-toolbar{
  border-right: 0;
  background: #fff;
}
.tv-side-toolbar.hidden .tv-close-panel{
  display: none;
}
.pane-legend{
  left: 15px;
}
.pane-legend-line>span.pane-legend-line{
  font-size: 12px!important;
}
span.pane-legend-line.no-context-menu.main {
  display: none !important;
}
.header-chart-panel .button:not(.disabled):not(.selected):hover:before, .properties-toolbar .button:not(.disabled):not(.selected):hover:before, .tv-dialog .button:not(.disabled):not(.selected):hover:before, .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before, .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before, .tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before, .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before, .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before, .tv-dialog .submenu:not(.disabled):not(.selected):hover:before, .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before, .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before, .tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before{border:none;}
