.chart-page .chart-container{
  border: none;
}
.loading-indicator{
      background-color: #FFF;
}
#chart-area{
  border: 1px solid #E1E1E1;
}
.tv-main-panel{
    background-color: #FFF;
}
.charts-popup-list{
  border: 1px solid #E1E1E1;
  background-color: #FFF;
  &.intervals-list{
    .item{
      min-width: 62px;
      padding: 5px 10px;
      text-align: center;
      &.active,&:hover,&:focus{
        background-color: #E1E1E1;
      }
    }
  }
  &.chart-style-popup{
    width: auto;
    top:29px!important;
    left: 88px!important;
    .item{
      text-align: center;
      &.active,&:hover,&:focus{
        background-color: #E1E1E1;
      }
    }
  }
}
#library-container{
  border: none;
  height: 34px;
  background-color: #FFF;
  .header-chart-panel{
    background-color: #FFF;
    padding: 0;
    .group{
      margin: 0;
      .apply-common-tooltip{
      }
    }
    .button.active:hover{
      border-color: #FFF!important;
    }
  }
}
.favored-list-container {
  span{
    cursor: pointer;
    color:#ABABAB;
    background: none;
    margin-bottom: 5px;
    &.active,&:hover,&:focus{
      background-color: #E1E1E1;
    }
    &:before{
      display: none;
    }
    &.disabled{
      color:#ABABAB;
      background: none!important;
    }
    &.submenu{
      display: none;
    }
  }
  .quick{
    span{
      position: relative;
      &:first-child{
        border: 1px solid #E1E1E1;
      }
      &:after{
        position: absolute;
        right: 8px;
        top:10px;
        content: '';
        border-right: 5px dashed transparent;
        border-left: 5px dashed transparent;
        border-top: 6px solid #ABABAB;
      }
      text-align: center;
      padding:6px 16px 6px 10px;
      width: 56px;
      color:#6c6c6c;
      border: 1px solid #E1E1E1;
      .apply-common-tooltip{
        i{
          position: relative;
          top:-3px;
        }
      }
    }
  }
}
.tv-close-panel,.tv-side-toolbar{
  display: none;
}
.pane-legend-item-value-container{
  display: none;
}
.pane-legend-line>span.pane-legend-line{
  font-size: 14px!important;
}
.header-chart-panel .button:not(.disabled):not(.selected):hover:before, .properties-toolbar .button:not(.disabled):not(.selected):hover:before, .tv-dialog .button:not(.disabled):not(.selected):hover:before, .header-chart-panel .favored-list-container span:not(.disabled):not(.selected):hover:before, .properties-toolbar .favored-list-container span:not(.disabled):not(.selected):hover:before, .tv-dialog .favored-list-container span:not(.disabled):not(.selected):hover:before, .header-chart-panel .submenu:not(.disabled):not(.selected):hover:before, .properties-toolbar .submenu:not(.disabled):not(.selected):hover:before, .tv-dialog .submenu:not(.disabled):not(.selected):hover:before, .header-chart-panel .custom-select .switcher:not(.disabled):not(.selected):hover:before, .properties-toolbar .custom-select .switcher:not(.disabled):not(.selected):hover:before, .tv-dialog .custom-select .switcher:not(.disabled):not(.selected):hover:before{border:none;}