.trade-form{
  padding: 0 24px;
  height: 100%;
  .tip{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E2E7EE;
    padding-bottom: 12px;
  }
  .ant-slider-mark-text{
    &:last-of-type{
      margin-left: -22.5%!important;
    }
  }
  &.ant-form-vertical .ant-form-item{
    margin-bottom: 15px;
  }
  &>.ant-row{
    height: 100%;
  }
  &>.ant-row>.ant-col-12{
    padding: 12px 0;
    height: 100%;
    &:first-of-type{
      border-right: 1px solid #E2E7EE;
    }
  }
}
