*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus, *:hover{
  outline: 0!important;
  box-shadow: none!important;
}
a, a:hover, a:active, a:focus{
  text-decoration: none;
}
.ant-btn:after, .ant-select:after, .ant-select-selection:after {
  border: 0 none;
  opacity: 0;
  animation:none 0 ease 0 1 normal;
  outline: 0;
  box-shadow: none;
  transition: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Heiti SC,Open Sans,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,monospace,serif;
}
